<!DOCTYPE html>
<html>
<head>
    <title>page2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<style>
        #map-canvas {
            height: 600px;
            width: 1024x;
        }
    </style>
</head>

<body>
<div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Follow My Trips</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
				<li><button type="button" onclick="back()" class="btn btn-primary" style="margin-top:10px">Back</button></li>
        <li class="dropdown">
          <a href="#" id="username" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Xinwei <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Sign Out</a></li>
            <li><a href="#">Edit</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<script>
		name = {{ name | safe }}
		document.getElementById("username").innerHTML = name

		function back() {
			new_url = "/world_map?igid="+name
			console.log(new_url)
			window.location.replace(new_url)
		}
	</script>

  <section id="wallpics">
    <div id="wall-container">
      <div id="instapics"> 
       	{% for d in data %}
        <div class = "pics"> <img src="{{d['imageurl']}}"/></div>
        <div class="review"> <p class="review-text">{{d['review_text']}}</p> <a class="review-url" href={{d["review_url"]}}>More</a></div>
        {% endfor %} 
      </div>
    </div>
    <div id="follow-button"> <form METHOD="LINK" ACTION={{d["placename"]}}>
      <INPUT TYPE="submit" VALUE="Follow My Journey!">
      </FORM><button type="button"></button> </div>
  </section>

</body>
</html>
