<!DOCTYPE html>
<html>
<head>
	<title>page2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<style>
		#map-canvas {
			height: 600px;
			width: 1024x;
		}

		.labels {
			 color: white;
			 background-color: red;
			 font-family: "Lucida Grande", "Arial", sans-serif;
			 font-size: 10px;
			 text-align: center;
			 width: 100px;     
			 white-space: nowrap;
    }
	
		body {
			background-color: #47B224;
		}

		
		.logo {
			font-family: arial, sans-serif;
			margin-top: 15px;
			font-size: 25px;
			/*font-weight: bold;*/
			color: #FFFFCC;
			width:500px;
			height: 100px;
		}
	</style>
</head>

<body>
<div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="logo">Follow My Trips</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
				<li><button type="button" onclick="initialize()" class="btn btn-success" style="margin-top:10px">Recover</button></li>
        <li class="dropdown">
          <a href="#" id="username" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Xinwei <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Sign Out</a></li>
            <li><a href="#">Edit</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div id="map-canvas">
	</div>

	<script type="text/javascript">
		var data_map = {{ locations|safe }};
		var images_by_city = {{ all_images | safe}}
		var center = {{ center }}
		var name = {{ name | safe}} 
		console.log(center)

		document.getElementById("username").innerHTML = name

		function show_city(map, marker, city) {
			map.setCenter(marker.getPosition())
			SetMapAddress(map, city)
			marker.setMap(null)
			images = images_by_city[city]
//			console.log(images)
			for (i=0; i<images.length; i++) {
				latitude = images[i][0]
				longitude = images[i][1]
				img_url = images[i][2]
				var pinIcon = new google.maps.MarkerImage(img_url, null, null, null, new google.maps.Size(70, 70));  

				var myLatLng = new google.maps.LatLng(latitude, longitude);
				var marker = new google.maps.Marker({
						position: myLatLng,
						map: map,
						icon: pinIcon
				});
			}
		}

		function SetMapAddress(map, address) {  // "London, UK" for example 
			 var geocoder = new google.maps.Geocoder();
			 if (geocoder) {
					geocoder.geocode({ 'address': address }, function (results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							map.fitBounds(results[0].geometry.viewport);
						}
					});
			 }
		 }

		function radius(c1,  c2) {
			return Math.pow(c1[0]-c2[0], 2)+Math.pow(c1[1]-c2[1], 2)
		}


		function initialize() {
			var mapOptions = {
				zoom: 2,
				center: new google.maps.LatLng(0, 0),
			}
			var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			var infowindow = new google.maps.InfoWindow();

			for (var city in data_map) {
				var myLatLng = new google.maps.LatLng(data_map[city][0], data_map[city][1]);
		//		console.log(myLatLng)
				var marker = new google.maps.Marker({
						position: myLatLng,
						map: map,
				});
				google.maps.event.addListener(marker, 'click', (function(marker, city) {
					return function() {
						show_city(map, marker, city)
					}
				})(marker, city));
			}
			google.maps.event.addListener(map, 'click', function(event) {
					if (center == null) {
						return
					}
					var c = [event.latLng["k"], event.latLng["D"]]
					r = radius(c, center)
					console.log(r)
					console.log(map.getZoom())
					var measure = r/map.getZoom()
					console.log(measure)
					if (measure >= 150) {
						return
					}
					new_url = "/walls?name="+name+"&lat="+c[0]+"&lon="+c[1]
					console.log(new_url)
					window.location.replace(new_url);
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);

	</script>



</div>
</body>
</html>

